@use './variables';

.container {
  max-width: variables.$container-max;
  margin: 0 auto;
  // padding-right: variables.$gutter-x;
  // padding-left: variables.$gutter-x;
  overflow-wrap: anywhere;
}
