/* Global - included on every page */
@use 'global/variables';
@use 'global/layout';

html {
  font-size: 100%;
  font-family: Roboto Mono, monospace;
  height: 100%;
}

body
{
  color: variables.$light-theme-body-text-color;
  background-color: variables.$light-theme-body-background-color;
  height:100%;
  margin: 0;
  /* Show scrollbars so there's no layout inconsistency (due to the width of the scrollbar) */
  overflow-y: scroll;
}

#__nuxt,
#__layout
{
  height:100%;
}

a {
  transition-duration: .2s;
  transition-property: color;
  text-decoration: none;
  cursor: pointer;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

// Themes
.dark-theme {
  color: variables.$dark-theme-body-text-color;

  a {
    color: variables.$dark-theme-link-color;

    &:visited {
      color: variables.$dark-theme-link-color;
    }

    &:active {
      color: variables.$dark-theme-link-color;
    }

    &:hover {
      color: variables.$dark-theme-link-hover-color;
    }
  }
}

.light-theme {
  color: variables.$light-theme-body-text-color;

  a {
    color: variables.$light-theme-link-color;

    &:visited {
      color: unset;
    }

    &:active {
      color: unset;
    }

    &:hover {
      color: variables.$light-theme-link-hover-color;
    }
  }
}
