@use 'global/variables';

// Small devices
@mixin mobile {
    @media (min-width: #{variables.$screen-sm-min}) {
        @content;
    }
 }

 // Medium devices
@mixin tablet {
   @media (min-width: #{variables.$screen-md-min}) {
       @content;
   }
}

// Large devices
@mixin desktop {
   @media (min-width: #{variables.$screen-lg-min}) {
       @content;
   }
}

// Extra large devices
@mixin widescreen {
   @media (min-width: #{variables.$screen-xl-min}) {
       @content;
   }
}

@mixin fullwidth {
 @media (min-width: #{variables.$container-max}) {
   @content;
 }
}
