/* Global - included on every page */
@use 'global/_layout';

html {
  font-size: 100%;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	color: #333;
}

body
{
  margin: 0;
  /* Show scrollbars so there's no layout inconsistency (due to the width of the scrollbar) */
  overflow: scroll;
}
